@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.dropcap {
  float: left;
  margin: 0 0.1em 0 0;
  line-height: .8;
}

.fig {
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.fig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
